<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <!-- Customer Start -->
                <div formGroupName="customer" class="form-area">


                    <h3>Customer Information</h3>
                    <div class="row">
                        <div class="col-md-2"> <label>First Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                            </div>
                            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                                class="alert alert-danger">
                                <div *ngIf="firstName.errors?.['required'] || firstName.errors?.['notOnlyWhitespace']">
                                    First Name is required.
                                </div>
                                <div *ngIf="firstName.errors?.['minLength']">
                                    First Name must be at least 2 characters long.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Last Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                            </div>
                            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                                class="alert alert-danger">
                                <div *ngIf="lastName.errors?.['required'] || lastName.errors?.['notOnlyWhitespace']">
                                    Last Name is required.
                                </div>
                                <div *ngIf="lastName.errors?.['minLength']">
                                    Last Name must be at least 2 characters long.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                            </div>
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                                <div *ngIf="email.errors?.['required'] || email.errors?.['notOnlyWhitespace']">
                                    Email is required.
                                </div>
                                <div *ngIf="email.errors?.['pattern']">
                                    Please enter a valid email address.
                                </div>
                                <div *ngIf="email.errors?.['minLength']">
                                    Last Name must be at least 2 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Customer End -->
                <!-- Shipping Start -->
                <div formGroupName="shipping" class="form-area">
                    <h3>Shipping Information</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('shipping')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="shippingCountry.invalid && (shippingCountry.dirty || shippingCountry.touched)"
                                class="alert alert-danger">
                                <div *ngIf="shippingCountry.errors?.['required']">
                                    Country is required.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Region</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                                        {{ state.name }}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="shippingState.invalid && (shippingState.dirty || shippingState.touched)"
                                class="alert alert-danger">
                                <div *ngIf="shippingState.errors?.['required']">
                                    State is required.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                            </div>
                            <div *ngIf="shippingCity.invalid && (shippingCity.dirty || shippingCity.touched)"
                                class="alert alert-danger">
                                <div *ngIf="shippingCity.errors?.['required']">
                                    City is required.
                                </div>
                                <div *ngIf="shippingCity.errors?.['minLength']">
                                    City must be at least 2 characters long.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                            </div>
                            <div *ngIf="shippingStreet.invalid && (shippingStreet.dirty || shippingStreet.touched)"
                                class="alert alert-danger">
                                <div *ngIf="shippingStreet.errors?.['required']">
                                    Street is required.
                                </div>
                                <div *ngIf="shippingStreet.errors?.['minLength']">
                                    Street must be at least 2 characters long.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                            </div>
                            <div *ngIf="shippingZipCode.invalid && (shippingZipCode.dirty || shippingZipCode.touched)"
                                class="alert alert-danger">
                                <div *ngIf="shippingZipCode.errors?.['required']">
                                    Zip code is required.
                                </div>
                                <div *ngIf="shippingZipCode.errors?.['minLength']">
                                    Zip code Name must be at least 2 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Shipping End -->

                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span>Billing Address same as Shipping Address
                    </label>
                </div>

                <!-- Billing Start -->
                <div formGroupName="billing" class="form-area">
                    <h3>Billing Information</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('billing')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="billingCountry.invalid && (billingCountry.dirty || billingCountry.touched)"
                                class="alert alert-danger">
                                <div *ngIf="billingCountry.errors?.['required']">
                                    Country is required.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Region</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                                        {{ state.name }}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="billingState.invalid && (billingState.dirty || billingState.touched)"
                                class="alert alert-danger">
                                <div *ngIf="billingState.errors?.['required']">
                                    State is required.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                            </div>
                            <div *ngIf="billingStreet.invalid && (billingStreet.dirty || billingStreet.touched)"
                                class="alert alert-danger">
                                <div *ngIf="billingStreet.errors?.['required']">
                                    Street is required.
                                </div>
                                <div *ngIf="billingStreet.errors?.['minLength']">
                                    Street must be at least 2 characters long.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                            </div>
                            <div *ngIf="billingCity.invalid && (billingCity.dirty || billingCity.touched)"
                                class="alert alert-danger">
                                <div *ngIf="billingCity.errors?.['required']">
                                    City is required.
                                </div>
                                <div *ngIf="billingCity.errors?.['minLength']">
                                    City must be at least 2 characters long.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                            </div>
                            <div *ngIf="billingZipCode.invalid && (billingZipCode.dirty || billingZipCode.touched)"
                                class="alert alert-danger">
                                <div *ngIf="billingZipCode.errors?.['required']">
                                    Zip code is required.
                                </div>
                                <div *ngIf="billingZipCode.errors?.['minLength']">
                                    Zip code must be at least 2 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Billing End -->
                <!-- Payment Start -->
                <div formGroupName="payment" class="form-area">
                    <h3>Payment Information</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Card Type</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option value="Visa">Visa</option>
                                    <option value="MasterCard">MasterCard</option>
                                    <option value="American Express">American Express</option>
                                </select>
                            </div>
                            <div *ngIf="cardType.invalid && (cardType.dirty || cardType.touched)"
                                class="alert alert-danger">
                                <div *ngIf="cardType.errors?.['required']">
                                    Card type is required.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Name On Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">
                            </div>
                            <div *ngIf="nameOnCard.invalid && (nameOnCard.dirty || nameOnCard.touched)"
                                class="alert alert-danger">
                                <div *ngIf="nameOnCard.errors?.['required']">
                                    Name on card is required.
                                </div>
                                <div *ngIf="nameOnCard.errors?.['minLength']">
                                    Name on card must be at least 2 characters long.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Card Numer</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">
                            </div>
                            <div *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)"
                                class="alert alert-danger">
                                <div *ngIf="cardNumber.errors?.['required']">
                                    Card number is required.
                                </div>
                                <div *ngIf="cardNumber.errors?.['pattern']">
                                    Please enter a valid card number.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Security Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">
                            </div>
                            <div *ngIf="securityCode.invalid && (securityCode.dirty || securityCode.touched)"
                                class="alert alert-danger">
                                <div *ngIf="securityCode.errors?.['required']">
                                    Security code is required.
                                </div>
                                <div *ngIf="securityCode.errors?.['pattern']">
                                    Please enter a valid security code.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Expiration Month</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let month of creditCardMonths">
                                        {{ month }}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="expirationMonth.invalid && (expirationMonth.dirty || expirationMonth.touched)"
                                class="alert alert-danger">
                                <div *ngIf="expirationMonth.errors?.['required']">
                                    Expiration month is required.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Expiration Year</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="onYearChange()">
                                    <option *ngFor="let year of creditCardYears">
                                        {{ year }}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="expirationYear.invalid && (expirationYear.dirty || expirationYear.touched)"
                                class="alert alert-danger">
                                <div *ngIf="expirationYear.errors?.['required']">
                                    Expiration year is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Payment End -->

                <!-- Order Summary Start -->

                <div class="form-area">
                    <h3>Review your order</h3>
                    <p>Total Quantity: {{ totalQuantity }}</p>
                    <p>Shipping: FREE</p>
                    <p>Total Price: {{ totalPrice | currency: 'EUR' }}</p>
                </div>

                <!-- Order Summary End -->
                <div class="text-center"> <!-- Submit Button -->
                    <button (click)="onSubmit()" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>